
# No notebook servidor, normalmente use:
#REDIS_HOST=localhost
#REDIS_PORT=6379
# No notebook cliente, use o IP do notebook servidor, por exemplo: 
#REDIS_HOST=192.168.0.8 (Já deixei o de casa como exemplo)
#REDIS_PORT=6379
